* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--Open-sans);
}
html {
    scroll-behavior: smooth;
}
:root {
    --azul: rgb(34, 113, 182);
    --marron: #fee074;
    --marron-oscuro: #9d7615;
    --Open-sans: 'Open Sans', sans-serif;
    --verde-correcto: #2ecc71;
    --rojo-error: #e74c3c;
    --naranja: #CA581B;
    --Lora: 'Lora', serif;
    --Grape-nuts: 'Grape Nuts', cursive;
    --azul-petroleo: #00503C;
    --verde: #00703C;
}

body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
input, button {
    outline: none;
    border: none
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/* ------------ Header --------------- */
.header {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 100;
}
.header__logo {
    width: 5rem;
}

.header__logo img {
    object-fit: contain;
    width: max-content;
    height: 100%;
}
.header__list-ul {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
}
.header__list-ul li a {
    font-size: 1rem;
    font-family: var(--Open-sans);
    font-weight: 600;
    color: var(--verde);
    transition: color .5s;
    text-transform: uppercase;
    padding: 0.3rem;
}
.header__list-ul li a:hover {
    color: #000;
}
.header__ham {
    position: absolute;
    right: 10px;
    top: 27px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    cursor: pointer;
    padding: 3px;
}
.header__ham span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* padding-top: 1rem; */
    }
    .header__logo {
        width: 7rem;
    }
    .header__list-ul {
        display: none;
    }
    .header__list-ul.activado {
        display: flex;
        flex-basis:inherit;
        background-color: var(--verde);
        flex-direction: column;
        width: 100%;
        height: 90vh;
        box-shadow: 0 0 3px 3px #000;
        animation-name: deslizarMenu;
        animation-duration: 1s;
    }
    .header__list-ul li {
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header__list-ul li a {
        font-size: 2rem;
        padding: 1rem 0;
        color: #fff;
        padding-left: 1rem;
        display: block;
        width: 100%;
        transition: all .5;
    }
    .header__list-ul li a:hover {
        color: var(--verde);
        background-color: #fff;
    }
    .header__ham {
        display: flex;
    }
    .header__ham.activado {
        box-shadow: 0 0 3px 3px #000;
    }
}
@keyframes deslizarMenu {
    from{transform: translateY(-20rem);}
    to{transform: translateY((0));}
}



/* ------------ Profile ----------------- */

.profile-section {
    width: 100%;
    height: 100vh;
    background-image: url(/Fotos/Cancha\ de\ tenis.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;

}
.profile-ctn {
    width: 90%;
    height: 70vh;
    background: var(--verde);
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #000;
}
.profile__up-flex-ctn {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #000;
    padding: 1rem;
}
.profile__photo-ctn {
    width: max-content;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.profile__photo-ctn img {
    object-fit: cover;
    height: 100%;
}
.profile__data-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-ctn {
    width: 80%;
    text-align: center;
}
.name-ctn h1 {
    font-weight: 800;
}
.results-ctn {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-gap: 10px;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.results-ctn h3 {
    font-family: var(--Open-sans);
    font-weight: 300;
}

.profile__down-ctn {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile__down-ctn h2 {
    padding: 1rem;
    padding-left: 0;
}
.trophies-grid-ctn {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    justify-items: center;
    align-items: center;
}
.trophies-grid-ctn h3 {
    font-size: 80%;
    display: block;
}



