<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion ha expirado</title>

    <link rel="stylesheet" href="/css/refreshStyle.css">

    <script src="/js/expired.js" defer></script>
</head>
<body>
    <section class="s1">
        <div class="box-ctn">
            <h1>La sesión ha expirado</h1>
            <button id="refresh-button" >Reiniciar sesión</button>
        </div>
    </section>
</body>
</html>